:root {
    --brand: #FFD300;
}

.text-brand {
    color: var(--brand);
}

#toc {
    position: sticky;
    float: right;
    overflow-y: auto;
    max-width: 200px;
    padding-top: 16px;
    padding-left: 24px;
}

.tag {
    display: inline-block !important;
    padding: 0.25em 0.4em !important;
    font-size: 75% !important;
    line-height: 1 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: 0.25rem !important;
    background-color: #0083bb !important;
    color: #fff !important;
}

.cloud {
    width: 100%;
}

.navbar-nav .nav-link.active {
    color: var(--brand);
}

.navbar-nav .nav-link.hover {
    color: var(--brand);
}

.navbar-brand {
    color: var(--brand);
}

.footer {
    color: var(--brand);
}

svg {
    fill: white !important;
    width: 24px !important;
    height: 24px !important;
    background-color: transparent !important;
}

svg:hover {
    fill: var(--brand);
}